# Игнорировать файлы окружения и секретов

# 🔐 Секреты и конфиги
.env
.env.*
.env.example
credentials.json
credentials_calendar.json

# 🧠 Python мусор
__pycache__/
*.pyc

# 🧪 Виртуальное окружение
venv/

# 📄 Логи
*.log

